@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-bg: 121 101 120;
        --color-primary: 255 248 240;
        --color-secondary: 230 148 65;
        --color-accent: 178 135 163;
    }

    body {
        min-height: 100vh;
        height: 100%;
    }
}
